* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  color: #333;
  font-size: 16px;
  margin-top: 20px;
}

#contenedor {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
}

h1, h2 {
  text-align: center;
  color: #333;
}

#contenedorCarrito {
  width: 50%;
  margin-top: 20px;
  margin-left: 40px;
  padding-left: 40px;
}

#contenedorTabla {
  width: 50%;
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

button {
  margin: 0 5px;
}
#productosCarrito li {
  margin-bottom: 5px;
  font-size: 16px;
  list-style-type: none;
}